.add-project {
  background-color: #fbfbfb;
  width: 60%;
}

.main-details,
.main-prop,
.project-pic,
.more-details {
  background-color: #ffffff;
  color: #202020;
  box-shadow: 0 4px 8px #dad4d4;
  border-radius: 1%;
  padding-bottom: 3%;
  margin-bottom: 2%;
}

.main-details__title,
.main-prop__title,
.project-pic__title,
.more-details__title {
  border-bottom: 1px solid #ebebeb;
  padding: 3% 0;
  padding-right: 3%;
}

.project-name,
.project-description,
.total-size {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 3% 0 3%;
  margin-bottom: 4%;
}

.project-name p,
.project-description p,
.total-size p {
  font-size: 12px;
  width: 50%;
}

.main-prop__data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3% 3%;
  align-items: flex-end;
}

.main-prop__data div {
  margin-left: 2%;
}
.main-prop__data img {
  margin-bottom: 6%;
}

.project-img {
  padding: 3% 3%;
}
.project-img div {
  width: 160px;
  height: 160px;
  border: 2px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #909090;
  font-size: 10px;
}

.project-img img {
  margin-bottom: 3%;
}

.size-fileds {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.size-fileds input {
  margin-bottom: 3%;
}

.available-charts {
  display: flex;
  flex-direction: column;
}
