.projects-page {
  display: flex;
  padding: 0 6%;
  margin-top: 3%;
  justify-content: space-between;
}

.project-review {
  /* width: 28%; */
  width: 29.3%;

  padding: 3%;
  height: fit-content;
  padding-top: 0;
}

.project-review div {
  width: 100%;
}

.add-project {
  background-color: #fbfbfb;
  width: 70%;
}

.project-name,
.project-description,
.total-size,
.total-price,
.garden-chart,
.platform-price,
.eng-price {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 3% 0 3%;
  margin-bottom: 4%;
}

.project-name p,
.project-description p,
.total-size p,
.garden-chart p,
.total-price p,
.garden-chart p {
  font-size: 12px;
  width: 50%;
}

.platform-price p,
.eng-price p {
  width: 100%;
}

.platform-price p:nth-child(2),
.eng-price p:nth-child(2) {
  font-weight: bold;
  font-size: 18px;
}

.main-prop__data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3% 3%;
  align-items: flex-end;
}

.main-prop__data div {
  margin-left: 2%;
}
.main-prop__data img {
  margin-bottom: 6%;
}

.project-img {
  padding: 3% 3%;
}
.project-img div {
  width: 160px;
  height: 160px;
  border: 2px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #909090;
  font-size: 10px;
}

.project-img img {
  margin-bottom: 3%;
}

.available-charts {
  display: flex;
  padding: 3% 3%;
}

.available-charts div:nth-child(1),
.available-charts div:nth-child(2) {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}

.price-div {
  display: flex;
  justify-content: flex-start;
}

.price-div div {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 5%;
}

.publish-project {
  background-color: #ffc000;
  color: white;
  border: none;
  margin-right: 3%;
}

.save-project {
  border: 1px solid #ffc000;
  color: #ffc000;
}

.available-charts .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ffc000;
  border-color: #ffc000;
}

.project-pic .ant-upload-list-picture-card {
  float: none;
  display: flex;
  justify-content: flex-start;
}

.project-pic .ant-upload-list-picture-card {
  flex-wrap: wrap;
}

/* Media Queries */

@media only screen and (max-width: 1024px) {
  .projects-page {
    padding: 0;
    margin: 0;
  }
  .add-project {
    margin: 0;
    padding: 0;
    width: 65%;
  }
  .project-review {
    width: 32%;
  }
}

@media only screen and (max-width: 768px) {
  .add-project {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .project-review {
    display: none;
  }
  .buttons {
    padding: 3% !important;
    width: 100%;
  }
  .available-charts div:nth-child(1),
  .available-charts div:nth-child(2) {
    flex: none;
  }
  .price-div {
    flex: none;
    display: block;
  }
}

@media only screen and (max-width: 425px) {
  .projects-page {
    flex-direction: column;
  }
  .project-review {
    width: 100%;
  }
  .main-prop__data {
    display: block;
  }
  .main-prop__data div {
    margin-bottom: 3%;
  }
}

@media only screen and (max-width: 320px) {
  .available-charts {
    flex: none;
    display: block;
  }
}
