.signup {
  display: flex;
  min-height: 100vh;
}

.signup__logo {
  width: 5%;
  height: 5%;
  margin-bottom: 4%;
}

.signup__field {
  font-size: 12px !important;
  margin-bottom: 2% !important;
}

.signup__body {
  background-color: white;
  padding: 2% 5% 0% 10%;
  width: 50%;
  text-align: right;
  box-shadow: 0 4px 8px #dad4d4;
}

.signup__info {
  background-image: url("../../assets/signup-pg.png");
  width: 50%;
}

.signup__title {
  color: #202020 !important;
  font-size: 20px;
  margin-bottom: 5% !important;
}

.signup__body p {
  background-color: transparent;
  color: #909090;
  margin: 0;
}

.signup__body input {
  padding: 2% 2% 2% 0;
  border: 2px solid #dcdcdc;
  border-radius: 2px;
  width: 98%;
  text-align: right;
  width: 100%;
}

.signup__body input::placeholder {
  text-align: right;
  color: #cacaca;
  padding-right: 2%;
}

.signup__email,
.signup__fullname {
  margin-bottom: 0%;
  width: 100%;
}

.signup__password div p:nth-child(1) {
  font-size: 12px;
  color: #202020;
}

.signup__signup {
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin-top: 2%;
}

.signup__signup p:nth-child(2) {
  color: #202020;
}

.signup__errorMsg {
  font-size: 13px;
  margin-bottom: 4%;
}

.signup__body__button.ant-btn {
  width: 100%;
  border: none;
  background-color: #ffc000;
  padding: 2% 0;
  color: white;
  margin-top: 7%;
}

.signup__options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7%;
}

.signup__options div {
  width: 46%;
  text-align: center;
  border: 2px solid #dcdcdc;
  padding: 4% 0%;
  border-radius: 4px;
}

.signup__options div:hover {
  cursor: pointer;
}

.signup__options div h4 {
  color: #202020;
  font-size: 13px;
  margin-top: 2%;
}

.signup__options div p {
  color: #909090;
  font-size: 12px;
}

.links {
  color: #ffc000;
}

.signup__confirmation {
  margin-top: 5% !important;
  font-size: 12px;
}

.signup__login {
  padding-bottom: 5%;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .signup__info {
    display: none;
  }
  .signup__body {
    width: 100%;
    padding: 10%;
  }
}

@media only screen and (max-width: 425px) {
  .signup__logo {
    width: 23%;
    height: 23%;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 425px) {
  .signup__signup {
    flex: none;
    display: inline;
  }
  .signup__signup p {
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  .signup__login {
    display: block;
  }

  .signup__options {
    display: block;
  }

  .signup__options div {
    width: 100%;
  }

  .signup__options div:nth-child(1) {
    margin-bottom: 2%;
  }
}
