.project {
  width: 29.3%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px #dad4d4;
  border-radius: 3%;
  padding: 2%;
  margin: 2%;
  height: max-content;
}

.project:hover {
  cursor: pointer;
}

.project__icons {
  display: flex;
  justify-content: space-between;
  height: 10%;
}

.fa-ellipsis-h,
.fa-heart {
  font-size: 20px;
  color: #dcdcdc;
}

.fa-ellipsis-h:hover,
.fa-heart:hover {
  color: #ffc000;
}

.project__image {
  text-align: center;
  height: 300px;
}

.project__image img {
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.project__name {
  color: #151515;
  font-weight: normal;
  border-bottom: 1px solid #ebebeb;
  padding: 3% 0%;
}

.project_summary {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  max-height: max-content;
}

.project_summary div {
  overflow: hidden;
  padding: 1% 1%;
}

.project_summary div p:nth-child(1) {
  color: #151515;
  margin: 0;
  width: 60%;
  overflow-x: hidden;
}

.project_summary div p:nth-child(2) {
  font-size: 10px;
  margin-bottom: 1%;
  padding-bottom: 1%;
}

/* Media Queries */

@media only screen and (max-width: 1024px) {
  .project_summary div p:nth-child(2) {
    font-size: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .project {
    width: 30%;
    height: fit-content;
  }
  .project_summary {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "data1 data2"
      "data3 data4";
  }
}

@media only screen and (max-width: 425px) {
  .project {
    width: 100%;
    padding: 5%;
  }
  .project__image img {
    width: 100%;
    height: 5%;
  }
  .project_summary {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    grid-template-areas: "data1 data2 data3 data4";
  }
}
