.total-size {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 3% 0 3%;
  margin-bottom: 4%;
}

.total-size p {
  font-size: 12px;
  width: 50%;
}

.size-fileds {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.size-fileds input {
  margin-bottom: 10px !important;
}

.size-fileds .ant-input-affix-wrapper .ant-input {
  min-height: unset;
}
