.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.images-container span .ant-upload-list.ant-upload-list-picture-card {
  display: flex;
  float: right;
  flex-direction: row;
  flex-wrap: wrap;
}
