.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__logo {
  width: 5%;
  height: 5%;
  margin-bottom: 4%;
  margin-top: 4%;
}

.login__field {
  font-size: 12px !important;
  margin-bottom: 2% !important;
}

.login__body {
  background-color: white;
  padding: 5%;
  width: 35%;
  text-align: right;
  box-shadow: 0 4px 8px #dad4d4;
}

.login__title {
  color: #202020 !important;
  font-size: 20px;
  margin-bottom: 5% !important;
}

.login__body p {
  background-color: transparent;
  color: #909090;
  margin: 0;
}

.login__body input {
  padding: 4% 2%;
  border: 2px solid #dcdcdc;
  border-radius: 2px;
  width: 98%;
  text-align: right;
}

.login__body input::placeholder {
  text-align: right;
  color: #cacaca;
  padding-right: 2%;
}

.login__email {
  margin-bottom: 6%;
}

.login__password div {
  display: flex;
  justify-content: space-between;
}

.login__password div p:nth-child(1) {
  font-size: 12px;
  color: #202020;
}

.login__signup {
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin-top: 2%;
}

.login__signup p:nth-child(2) {
  color: #202020;
}

.login__errorMsg {
  font-size: 13px;
  margin-bottom: 4%;
}

.login__body__button.ant-btn {
  width: 100%;
  border: none;
  background-color: #ffc000;
  padding: 2% 0;
  color: white;
  margin-top: 7%;
}

/* Media Queries */

@media only screen and (max-width: 425px) {
  .login__body {
    width: 90%;
  }
  .login__logo {
    width: 23%;
    height: 23%;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 425px) {
  .login__signup {
    flex: none;
    display: inline;
  }
  .login__signup p {
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
