.account-page {
  display: flex;
  justify-content: space-between;
}

.account-page__data {
  width: 70%;
}

.change-password__error {
  margin: 0 auto;
  width: 94%;
  margin-bottom: 2%;
}

.account-page__img {
  width: 25%;
  background-color: rebeccapurple;
  height: fit-content;
  padding: 2%;
}

.personal-information,
.change-password,
.paypal-account {
  background-color: #ffffff;
  color: #202020;
  box-shadow: 0 4px 8px #dad4d4;
  border-radius: 1%;
  padding-bottom: 3%;
  margin-bottom: 2%;
}

.personal-information,
.change-password,
.paypal-account {
  display: flex;
  flex-direction: column;
}
.personal-information button,
.change-password button,
.paypal-account button {
  margin: 1% 0 0 3%;
  background-color: #ffc000;
  color: white;
  border: none;
  margin-right: 3%;
  width: fit-content;
  align-self: flex-end;
}

.personal-information__title {
  border-bottom: 1px solid #ebebeb;
  padding: 3% 0;
  padding-right: 3%;
}

.personal__fullName,
.personal__email,
.personal__mobile,
.personal__addredd,
.personal__password,
.personal__newPassword,
.personal__confirmPassword,
.personal__paypal {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 3% 0 3%;
  margin-bottom: 4%;
}

.personal__fullName p,
.personal__email p,
.personal__mobile p,
.personal__addredd p,
.personal__password p,
.personal__newPassword p,
.personal__confirmPassword p,
.personal__paypal p {
  font-size: 12px;
  width: 50%;
}
