.footer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 3% 6%;
  background-color: #ffffff;
  margin-top: 6%;
}

.footer-general img {
  margin-bottom: 10%;
}

.footer-contact,
.footer-products,
.footer-links,
.footer-access {
  background-color: #ffffff;
  width: 20%;
  padding: 0 3%;
}

.footer-general {
  background-color: #ffffff;
  width: 30%;
  padding: 0 3%;
}

.footer-title {
  color: #909090;
  font-size: 13px;
}

.footer-contact div i {
  margin-left: 5%;
}

.footer-contact div:hover {
  color: #ffc000;
}

.footer-access a,
.footer-links a {
  color: #606060;
}

.footer-access a:hover,
.footer-links a:hover {
  color: #ffc000;
}

/* Media Queries */

@media only screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
  }
  .footer-contact,
  .footer-products,
  .footer-links,
  .footer-access,
  .footer-general {
    width: 100%;
  }

  .footer-contact p,
  .footer-products p,
  .footer-links a,
  .footer-access p,
  .footer-general p {
    font-size: 12px;
  }
  .footer-title {
    font-weight: bolder !important;
    font-size: 15px !important;
  }
}
