.section {
  background-color: #ffffff;
  color: #202020;
  box-shadow: 0 4px 8px #dad4d4;
  border-radius: 1%;
  padding-bottom: 3%;
  margin-bottom: 2%;
}

.section-title {
  border-bottom: 1px solid #ebebeb;
  padding: 3% 0;
  padding-right: 3%;
}
