.container {
  padding: 3% 5%;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cl-flexstart {
  align-items: flex-start;
}

.space-bt{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-section {
  width: 60%;
  /* background-color: brown; */
}

.left-section {
  width: 38%;
  padding: 2%;
}

.shadow {
  background-color: #ffffff;
  color: #202020;
  box-shadow: 0 4px 8px #dad4d4;
  border-radius: 1%;
}

.share-section {
  display: flex;
  justify-content: space-between;
  padding: 1% 0;
}

.shortDetails-section {
  /* padding-bottom: 3%; */
  /* margin-bottom: 2%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}

.shortDetails-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
}

.gallery {
  display: flex;
  /* min-height: 400px; */
  /* height: 600px; */
  margin: 4% 0;
  justify-content: space-between;
}


.gallery-sec img {
  max-width: 100%;
  max-height: 100%;
}

.gallery-sec{
  width: 48%;
  height: 30rem;
}

.gallery-right {
}

.gallery-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-left-up {
  height: 48%;
  width: 100%;
  /* margin-bottom: 2%; */
}

.rotateimg {
    /* rotate the image */
  /* transform: rotate(-90deg); */
}

.gallery-left-down {
  height: 48%;
  width: 100%;
  justify-content: space-between;
}

.gallery-left-down-right {
  height: 100%;
  width: 47%;
}

.gallery-left-down-left {
  height: 100%;
  width: 47%;
}

.half-hy {
  width: 100%;
  height: 46%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li {
  line-height: 2;
}