.container {
  padding: 3% 5%;
  display: flex;
  justify-content: space-between;
}

.right-section {
  width: 78%;
  /* background-color: brown; */
}

.left-section {
  width: 20%;
  background-color: darkblue;
}

.shadow {
  background-color: #ffffff;
  color: #202020;
  box-shadow: 0 4px 8px #dad4d4;
  border-radius: 1%;
}

.share-section {
  display: flex;
  justify-content: space-between;
  padding: 1% 0;
}

.shortDetails-section {
  /* padding-bottom: 3%; */
  /* margin-bottom: 2%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}

.shortDetails-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
}

.gallery {
 min-height: 400px;
 height: 600px;
 margin: 4% 0;
}

ul li {
  line-height: 2;
}