.availability {
    margin-right: 2%;
    text-align: center;
}

.availability__contaier p {
    width: 100%;
} 

.ant-dropdown-link {
    padding: 10px 25px;
    border-radius: 3px;
    font-weight: 500;
    text-transform: capitalize;
}


 /* Media Queries  */
@media only screen and (max-width: 425px) {
       .availability , .availability__contaier{
        margin-bottom: 3%;
        text-align: left;
        width: 100%;
    }
    .profile__dropdown.ant-dropdown-trigger, .profile__dropdown, .ant-dropdown-link {
        width: 100%;
        margin: 0;
        display: block;
    }
} 