.projects {
  width: 100%;
}

.projects__page {
  display: flex;
  padding: 0% 6%;
}

.projects_body {
  width: 70%;
  display: flex;
  background-color: red;
  flex-wrap: wrap;
}

.projects_filter {
  background-color: coral;
  width: 30%;
}
