.total-size {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 3% 0 3%;
  margin-bottom: 4%;
}

.total-size p {
  font-size: 12px;
  width: 50%;
}

.total-size div input {
  margin-bottom: 2%;
}
