.Navbar {
  display: flex;
  justify-content: space-between;
}
.Navbar .ant-layout-header {
  line-height: 0;
}

.Navbar__links {
  margin: 0 0 0 5%;
}

.Navbar__links button,
.Navbar__links a {
  margin: 0 5px;
}

.Navbar__links a {
  color: #202020;
}

.Navbar__links-login.ant-btn {
  border: 1px solid #ffc000;
  color: #ffc000;
}

.Navbar__links-signup.ant-btn {
  background-color: #ffc000;
  color: white;
  border: none;
}

.Navbar__item li {
  color: #909090;
}

.Navbar__item > li.ant-menu-item.ant-menu-item-selected {
  border-bottom: 2px solid #ffc000;
}

.Navbar__item > li.ant-menu-item.ant-menu-item-selected a {
  color: #202020;
}

.navbar-logged {
  display: flex;
  margin-left: 5%;
}

.navbar-logged a {
  color: #606060;
  padding-left: 2%;
}

.navbar-logged a:hover {
  color: #ffc000;
}

.navbar-logged .ant-avatar-image {
  align-self: center;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .Navbar {
    padding: 0 5%;
    justify-content: space-between;
  }
  .Navbar__links {
    margin: 0;
  }
}
